template(name='flirt')
  .panels.dash-row
    +infoPanel(
      title='Flights'
      chart='flight-chart'
      primary=flightCounts
      secondary=flightCountInfo
      subInfo='view more FLIRT information'
      active=true
      icon='airplane'
      paneState=paneState
    )
    +infoPanel(
      title='Visitors'
      chart='active-users-chart'
      primary=flirtActiveUsers
      secondary='active users on FLIRT'
      subInfo='view FLIRT analytics'
      icon='account-network'
      paneState=paneState
    )
    +infoPanel(
      title='Downtime'
      chart='downtime-chart'
      primary=flirtDowntime
      secondary=flirtDowntimeInfo
      subInfo='view FLIRT analytics'
      icon='thumb-down'
      paneState=paneState
    )
  .container-fluid
    .row.dash-row-main
      .col-lg-12
        .pane(class="{{paneVisible 'flight-chart'}}")
          +flightInfo
        .pane(class="{{paneVisible 'active-users-chart'}}")
          +userInfo(
            users30=flirtUsers30
            sources=flirtSources
          )
        .pane(class="{{paneVisible 'downtime-chart'}}")
          +downtime
