template(name='infoPanel')
  .info-panel(class="{{#if active}}active{{/if}}", data-chart="#{chart}")
    .panel-header
      .title
        i.mdi(class="mdi-#{icon}")
        h2= title
      .info
        .primary= primary
        .secondary= secondary
